body {
  background-color: #f2f2f2;
}
body, body * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 16px;
}
small {
  opacity: 0.6;
  font-size: 0.75rem;
  font-weight: 400;
  white-space: nowrap;
}

input, label, button {
  font-size: 1.125rem;
}

#component-container {
  width: 90%;
  padding: 1.0rem;
  background-color: rgb(220,220,220);
  margin: 0 auto;
  margin-top: 3.0rem;
}
